* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background: #fafafa;
    font-family: 'Raleway', sans-serif;
}

/* ---------------------------- loader -----------------------------------------*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    margin-left: 680px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(47, 49, 66) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------------- loader -----------------------------------------*/


.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 0 auto;
    width: 93%;
    align-content: center;
    min-height: 45vh;
    padding-bottom: 70px;
}

.card {
    width: 16rem;
    height: 450px;
    background: #ffffff;
    border: 1px solid rgb(231, 231, 231);
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 14px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.22);
    transition: box-shadow 0.2s;
}

.card:hover {
    box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.42);

}

.card__title {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 24px;
}

.card__price {
    margin-left: 20px;
    font-size: 20px;
    padding-bottom: 30px;
}

.card__img {
    padding-left: 10px;
    height: 300px;
    width: 300px;
}

.button {
    padding: 20px 10px;
    background: rgb(7, 69, 185);
    color: #fff;
    font-weight: bold;
    border-radius: 14px;
    margin-left: 15px;
    transition: background 0.2s;
}

.button:hover {
    background: rgb(5, 5, 56);
}

.header {
    display: flex;
    color: #fff;
    background: rgb(5, 5, 56);
    min-height: 75px;
}

.header__logo {
    font-size: 32px;
    padding: 20px;
    background: #fff;
    border-radius: 14px;
    margin-left: 20px;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
    color: rgb(5, 5, 56);
}

.header__logo:hover {
    background: rgb(241, 197, 113);
    color: #fff;
}

.header__nav {
    margin-left: auto;
    padding-right: 40px;
    padding-top: 10px;
}

.header__nav a {
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
}

.header__link:hover {
    border-bottom: 3px solid rgb(241, 197, 113);
}

.footer {
    user-select: none;
    text-align: center;
    padding-top: 2%;
    min-height: 200px;
    background: rgb(5, 5, 56);
    color: #fff;
    letter-spacing: 0.3em;
    font-size: 30px;
}

.fa-shopping-cart {
    transition: transform 0.2s;
}

.fa-shopping-cart:hover {
    transform: scale(1.3)
}

.footer__social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 3%;
}

.footer__social {
    margin-left: 13%;
    color: #fff;
    transition: transform 0.2s;
}

.footer__social:hover {
    transform: scale(1.4);
    color: rgb(241, 197, 113);
}

.single {
    min-height: 80vh;
    background: #fff;
    display: flex;
    padding-bottom: 70px;
}

.single__img {
    max-width: 450px;
    min-height: 450px;
}

.single__img-container {
    margin-top: 3%;
    margin-left: 8%;
}

.single__info-container {
    padding-top: 4%;
    width: 100%;
    text-align: center;
    color: rgb(5, 5, 56);
}

.single__name {
    font-size: 72px;
    padding-bottom: 20px;
}

.single__price {
    font-size: 78px;
    margin-top: 50px;
    font-weight: normal;
}


.m_button {
    outline: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid #000;
    border-radius: 14px;
    border-color: rgb(5, 5, 56);
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
}
.m_button:hover {
    color: #fff;
    background: rgb(5, 5, 56);
}

.single__buy, .single__cant-buy {
    font-size: 72px;
    padding: 20px;
    /* margin-right: 140px; */
    margin-top: 30px;
    margin-left: 0px;
}

.single__cant-buy {
    color: red;
    cursor: initial;
}
.single__cant-buy:hover {
    color: red;
    background: #fff;
}

.m__back {
    font-size: 34px;
}

.single__back {
    position: relative;
    top: 130px;
    color: rgb(5, 5, 56);
}
.cart {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    min-height: 87vh;
}
.cart__product {
    border: 4px solid rgb(5, 5, 56);
    padding: 5px;
    margin: 5px;
    min-width: 50%;
    border-radius: 8px;
    min-height: 100px;
    margin-bottom: 30px;
    user-select: none;
}
.cart__img {
    width: 90px;
    height: 90px;
}

.cart__product-name,.cart__product-price {
    font-size: 40px;
    text-decoration: none;
    position: relative;
    color: rgb(5, 5, 56);
    top: -25px;
    margin-left: 4%;
}
.cart__total {
    color: rgb(5, 5, 56);
    font-weight: normal;
    font-size: 50px;
    padding-bottom: 30px;
}

.cart__trash { 
    cursor: pointer;
    width: 50px;
    position: relative;
    float: right;
    top: 24px;
    right: 10px;
    transition: transform 0.2s;
}

.cart__trash:hover {
    transform: scale(1.2);
}

.registration, .login__container, .create-order, .promocode__container {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 30%;
    border: 4px solid rgb(5, 5, 56);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: rgb(5, 5, 56);
    padding-top: 10px;
    margin-bottom: 10px;
}
.registration__label, .login__label, .create-order__label {
    font-size: 30px;
    padding-left: 18px;
    padding-top: 5px;
}
.registration__input, .login__input, .create-order__input, .promocode__input {
    width: 90%;
    margin: 0 auto;
    min-height: 40px;
    border-radius: 6px;
    outline: none;
    border: 4px solid rgb(5, 5, 56);
    padding-top: 5px;
    font-size: 30px;
    padding-left: 15px;
    color: rgb(5, 5, 56);

}
.registration__title, .login__title, .create-order__title, .promocode__title {
    font-size: 40px;
    padding-left: 18px;

}
.registration__button, .login__button, .create-order__button, .promocode__button{
    padding: 20px;
    max-width: 80%; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.login__button {
    width: 80%;
    font-size: 24px;
}

.login {
    padding-top: 5%;
    min-height: 80vh;
}

.login__error {
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    color: rgb(5, 5, 56);
    text-transform: uppercase;
}
.logout__container {
    min-height: 90vh;
    text-align: center;
    padding-top: 7%;
}

.logout__title {
    font-size: 60px;
    color: rgb(5, 5, 56);
}

.logout__button {
    width: 20%;
    height: 70px;
    border-radius: 8px;
    font-size: 40px;
    margin-top: 3%;
    color: rgb(5, 5, 56);
}
.cart__total_checkout {
    font-size: 40px;
    color: rgb(5, 5, 56);
}

.create-order__button {
    padding: 16px;
    width: 75%;
    font-size: 24px;
}
.create-order__container {
    min-height: 90vh;
}

.promocode__container {
    position: absolute;
    left: 20px;
}
.promocode__button { 
    width: 90%;
}
.promocode__price {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0;
}
.promocode__incorrect {
    text-align: center;
}
.create-order__wasSended {
    text-align: center;
    padding-top: 20%;
}

.admin {
    min-height: 90vh;
}

.admin__order {
    display: inline-flex;
}
.admin__container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-left: 20px;
    border: 1px solid #000;
}